tomcat:
    version: 7
    security: 'no'
    connector:
      port: 8443
      protocol: 'org.apache.coyote.http11.Http11Protocol'
      connectionTimeout: 20000
      URIEncoding: 'UTF-8'
      redirectPort: 8443
      maxHttpHeaderSize: 8192
      maxThreads: 150
      minSpareThreads: 25
      enableLookups: 'false'
      disableUploadTimeout: 'true'
      acceptCount: 100
      scheme: https
      secure: 'true'
      SSLEnabled: 'true'
      clientAuth: 'false'
      sslProtocol: TLS
      keystoreFile: '/path/to/keystoreFile'
      keystorePass: 'somerandomtext'
    sites:
        11.11.9.114: # must be unique; used as an ID declaration in Salt; also passed to the template context as {{ id }}
          appBase: ../webapps/ROOT
          path: ''
          docBase: '/root/apache-tomcat-7.0.42/webapps'
          alias: {{ id }}
          unpackWARs: "true"
          autoDeploy: "true"
          reloadable: "true"
          debug: 0
    manager:
         user: saltuser
         passwd: RfgpE2iQwD
java:
    home: '/data/app/jdk1.6.0_45'
    Xmx: 1G # TODO: Need to do a calculation based on the available memory on the machine.
    MaxPermSize: 256m
    UseConcMarkSweepGC: '-XX:+UseConcMarkSweepGC'
    CMSIncrementalMode: '-XX:+CMSIncrementalMode'
limit:
    soft: 65000
    hard: 65500
